@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap')
	;

@import "reset.css";

@font-face {
	font-family: 'Maplestory';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff')
		format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Maplestory';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

*{
	box-sizing: border-box;
}

body {
	color: #fff;
	background-color: #000;
	font-family: 'Noto Sans KR', sans-serif;
}

.header {
	display: flex;
	align-items: center;
	height: 70px;
	background-color: #355ca9;
}
@media (max-width: 1280px){
	.header {
		padding:0 20px
	}
}


.header__logo {
	font-family: 'Maplestory';
	font-weight: 600;
}

.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
}



.container {
	width: 100%;
	min-height: calc(100vh - 70px);
	margin: 0 auto;
}

@media (max-width: 1280px) {
	.container{
		padding: 20px;
	}
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.search {
	position: relative;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-image: url("../images/i13410696200.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.search::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5));
	z-index: 1;
}

.search__wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.search__tit {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 10px;
	font-family: 'Maplestory';
}
@media (max-width: 768px) {
	.search__tit {
		font-size: 30px;
	}
}

.search__subTit {
	margin-bottom: 10px
}

.search__box {
	width: 100%;
	text-align: center;
}

.search__inputBox {
	display: flex;
	width: 300px;
	margin: 0 auto;
	background: #333;
	border-radius: 10px;
	border: 1px solid #558af3;
	overflow: hidden;
}

.search__input {
	width: calc(100% - 40px);
	background-color: transparent;
	padding: 0 15px;
	color: #fff;
}

.search__inputBtn {
	width: 40px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
}

.search__inputBtn .material-symbols-outlined {
	color: #fff;
}

.profile {
	margin-bottom: 30px;
}

.profile__wrap {
	display: flex;
	padding: 40px 0;
	background-color: #1a1d22;
}

@media (max-width: 1280px){
	.profile__wrap {
		flex-wrap: wrap;
	}
}

.profile__left {
	max-width: 250px;
	width: 100%;
	height: 200px;
	padding: 20px;
	text-align: center;
}

@media (max-width: 1280px){
	.profile__left {
		max-width: 100%;
	}
}

.profile__left .characterDate {
	color: #666;
	font-size: 12px;
}

.profile__img {
	height: 100%
}

.profile__right {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 20px;
}
@media (max-width: 1280px){
	.profile__right > div {
		width: 100%;
	}
}

.profile__topText {
	display: flex;
	margin-bottom: 10px;
	font-size: 18px
}

.profile__topText>div {
	margin-right: 10px;
}

.profile__topText>div:last-child {
	margin-right: 0;
}

.profile__midText {
	display: flex;
	margin-bottom: 10px;
	font-size: 12px;
	color: #999;
}

.profile__midText>div {
	padding: 0 10px;
	border-right: 1px solid #666;
}

.profile__midText>div:first-child {
	padding-left: 0;
}

.profile__midText>div:last-child {
	padding-right: 0;
	border-right: 0;
}

.profile__bottomText {
	text-align: center;
	border-radius: 10px;
	font-size: 12px;
	overflow: hidden;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%,
		rgba(26, 29, 34, 0.2) 10%, rgba(26, 29, 34, 0.2) 90%,
		rgba(255, 255, 255, 1) 100%);
	border-right: 1px solid #fff;
}

.profile__bottomBar {
	padding: 2px 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%,
		rgba(186, 243, 0, 1) 10%, rgba(186, 243, 0, 1) 90%,
		rgba(255, 255, 255, 1) 100%);
	border-radius: 10px;
}

.stat {
	margin-bottom: 50px;
}

.stat__wrap {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 768px){
	.stat__wrap {
		flex-wrap:wrap;
	}
}
.stat__left {
	width: calc(25% - 15px);
	background-color: #1a1d22;
	text-align: center;
}
@media (max-width: 1280px){
	.stat__left {
		width: calc(40% - 15px);
	}
}

@media (max-width: 768px){
	.stat__left {
		width: 100%;
		margin-bottom: 20px;
	}
}

.stat__right {
	width: 75%;
	text-align: center;
}

@media (max-width: 1280px){
	.stat__right {
		width: 60%;
	}
}

@media (max-width: 768px){
	.stat__right {
		width: 100%;
	}
}

.stat__power {
	padding: 20px 0;
}

.stat__powerTit {
	font-size: 18px;
	margin-bottom: 15px
}

.stat__powerText {
	font-size: 26px;
}

.stat__hyper {
	padding: 0 20px 20px 20px;
}

.stat__hyperTit {
	font-size: 18px;
	margin-bottom: 15px
}

.stat__hyperList {
	margin-bottom: 20px;
}

.stat__hyperTabs {
	display: flex;
	justify-content: center;
}

.stat__hyperTab {
	padding: 5px;
	background-color: #666;
	color: #999;
	border-radius: 15px;
	cursor: pointer;
}

.stat__hyperTab--active {
	color: #fff;
}

.stat__hyperTab+.stat__hyperTab {
	margin-left: 10px;
}

.stat__hyperItem {
	display: flex;
	justify-content: space-between;
}

.stat__hyperItem+.stat__hyperItem {
	margin-top: 10px;
}

.stat__hyperText {
	font-size: 14px;
}

.stat__ability {
	padding: 0 20px 20px 20px;
}

.stat__abilityTit {
	font-size: 18px;
	margin-bottom: 15px;
}

.stat__abilityText {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	color: #999;
}

.stat__abilityText:before {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background-color: #aaa;
	margin-right: 5px;
}

.stat__abilityText+.stat__abilityText {
	margin-top: 10px;
}

.stat__abilityTabs {
	display: flex;
	justify-content: center;
}

.stat__abilityTab {
	padding: 5px;
	background-color: #666;
	color: #999;
	border-radius: 15px;
	cursor: pointer
}

.stat__abilityTab--active {
	color: #fff;
}

.stat__abilityTab+.stat__abilityTab {
	margin-left: 10px;
}

.stat__abilityList {
	margin-bottom: 20px;
}

.stat__infor {
	padding: 20px 20px 10px 20px;
	background-color: #1a1d22;
}

.stat__infor+.stat__infor {
	margin-top: 15px;
}

.stat__inforTit {
	font-size: 18px;
	margin-bottom: 15px;
}

.stat__inforBox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stat__inforBox+.stat__inforBox {
	margin-top: 30px;
}

.stat__inforItem {
	display: flex;
	justify-content: space-between;
	width: 48%;
	margin-bottom: 10px
}

@media (max-width: 1280px){
	.stat__inforItem {
		width: 100%;
	}
}

.stat__inforItem+.stat__inforItem {
	
}

.stat__inforText {
	
}

.detileTab {
	
}

.detileTab__tabs {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.detileTab__tabs--active1:after {
	left: 0;
}

.detileTab__tabs--active2:after {
	left: 90px;
}

.detileTab__tabs--active3:after {
	left: 180px;
}

.detileTab__tabs:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 90px;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s;
}

.detileTab__tab {
	width: 90px;
	height: 50px;
	padding: 0 20px;
	background: transparent;
	font-size: 18px;
	font-weight: 500;
	color: #666;
	cursor: pointer;
}

.detileTab__tab--active {
	color: #fff;
}

.itemEquipment {
	
}

.itemEquipment__wrap {
	display: flex;
	justify-content: space-between;
	min-height: 600px;
	padding-bottom: 30px;
}

@media (max-width: 1280px){
	.itemEquipment__wrap  {
		flex-wrap:wrap
	}
}

.itemEquipment__left {
	width: calc(25% - 15px);
	text-align: center;
}
@media (max-width: 1280px){
	.itemEquipment__left  {
		width: 100%;
		margin-bottom:20px;
	}
}

@media (max-width: 1000px){
	.itemEquipment__left  {
		width: 100%;
		margin-bottom: 20px;
	}
}


.itemEquipment__mid {
	width: 49%;
	background-color: #1a1d22;
	padding: 10px;
	box-sizing: border-box;
}

@media (max-width: 1280px){
	.itemEquipment__mid  {
		width: 65%;
		margin-bottom: 20px
	}
}

@media (max-width: 1280px){
	.itemEquipment__mid  {
		width: 100%;
	}
}


.itemEquipment__right {
	width: calc(26% - 15px);
	padding: 10px;
	background-color: #1a1d22;
	box-sizing: border-box;
}

@media (max-width: 1280px){
	.itemEquipment__right  {
		width: 100%;
	}
}

.itemEquipment__tit {
	margin-bottom: 20px;
	font-size: 20px;
}

.itemEquipment__box {
	display: flex;
}

@media (max-width: 1280px){
	.itemEquipment__box  {
		  justify-content: center
	}
}

@media (max-width: 768px){
	.itemEquipment__box  {
		flex-wrap:wrap;
	}
}



.itemEquipment__boxWrap {
	min-width: 290px;
	max-width: 33%;
	flex-basis: 33%;
}
@media (max-width: 1200px) {
	.itemEquipment__boxWrap {
		display:flex;
		align-items: flex-start;
		justify-content: center;
	}
}
@media (max-width: 768px){
	.itemEquipment__boxWrap {
		margin-bottom: 20px;
	}
}




.itemEquipment__list {
	width:  calc(100% - 20px);
	max-width:270px;
	display: flex;
	flex-wrap: wrap;
}

.itemEquipment__item {
	flex-basis: 20%;
	padding-left: 4px;
	padding-top:4px;
	box-sizing: border-box;
}

.itemEquipment__btn {
	width: 50px;
	height: 50px;
	/* 	border: 1px solid rgba(111, 243, 0); */
	border: 1px solid #aaa;
	border-radius: 4px;
    background-color: rgba(90, 90, 90, 0.16);
    cursor:pointer;
}

.itemEquipment__itemDetail {
	display: flex;
	width:100%;
    min-width: 280px;
	background-color: #2b2f35;
    border-radius: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
}

@media (max-width: 1280px){
	.itemEquipment__itemDetail  {
		  max-width: 280px;
	}
}

@media (max-width: 768px){
	.itemEquipment__itemDetail  {
		  max-width: 290px;
	}
}


.itemEquipment__itemLeft{
	width:100%;
	text-align: center
}



.itemEquipment__itemRight{
	width:50%;
}

.itemEquipment__itemText{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
}

.itemEquipment__btn--legend{
	background-color: rgba(111,180,100, 0.16);
	border: 1px solid rgba(111, 243, 0);
}

.itemEquipment__btn--unique{
    background-color: rgba(250, 240, 137, 0.16);
    border: 1px solid rgb(254, 199, 99);
}

.itemEquipment__btn--epic{
    background-color: rgba(183, 125, 199, 0.16);
    border: 1px solid #b76cfd;
}

.itemEquipment__itemOption{
	display: flex;
	margin-top:5px;
	font-size:14px;
	line-height: 16px
}

.itemEquipment__totalOption{
	margin-right:3px;
}
.itemEquipment__baseOption{
	margin-right:3px;
}

.itemEquipment__addOption{
	margin-right:3px;
	color: #6cff00;
}

.itemEquipment__etcOption{
	margin-right:3px;
	color: #aaaaff;
}

.itemEquipment__addOption:last-child{
	margin-right:0;
}
.itemEquipment__starforceOption{
	color:#ffcc00;
}

.itemEquipment__starforce{
		display: flex;
		justify-content:center;
		flex-wrap: wrap;
	
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom: 1px solid #aaa;
}

.itemEquipment__starforce > div:nth-child(6), .itemEquipment__starforce > div:nth-child(11), .itemEquipment__starforce > div:nth-child(21){
	margin-left: 8px;
}

.itemEquipment__star{
	width: 6%;
	font-size: 12px;
	padding: 2px;
	color:rgb(228, 206, 0);
}

.itemEquipment__shapeName{

	font-size: 20px;
	line-height: 24px;
	word-break: keep-all;
}

.itemEquipment__potential{
	font-size: 12px;
	margin-top:5px;
}

.itemEquipment__icon{
	margin-top:10px ;
}

.itemEquipment__part{
	padding-top:10px;
	margin-top:10px;
	border-top:1px solid #aaa;
	text-align: left;
	font-size: 14px;
}

.itemEquipment__cuttable{
	color: #ffcc00;
}

.itemEquipment__potentialOption{
	border-top:1px solid #aaa;
	margin-top:10px;
	padding-top:10px;
}

.itemEquipment__potentialOption-tit{
	font-size: 14px;
    line-height: 16px;
    margin-bottom:5px;
	text-align: left;
}

.itemEquipment_potentialOption-item{
		font-size: 14px;
    line-height: 16px;
    margin-bottom:5px;
	text-align: left;
}
.itemEquipment__potentialOption-tit--epic{
	color: #b76cfd;
}
.itemEquipment__potentialOption-tit--unique{
	color: #ffcc00;
}
.itemEquipment__potentialOption-tit--legend{
	color: #6cff00;
}

.itemEquipment__potentialOption-tit--rare{
	color:#66ffff;
}

.symbol{
	background-color: #1a1d22;
	padding:20px;
}

.symbol__tabs{
	display: flex;
	justify-content: center;
	font-size: 14px;
		margin-bottom: 20px;
}
.symbol__tab {
	border:1px solid #777;
	cursor: pointer;
	padding:8px 25px;
}
.symbol__tab--active{
	background-color: #777
}

.symbol__tab:nth-child(1){
	border-radius: 3px 0 0 3px;
}
.symbol__tab:nth-child(2){
	border-radius: 0 3px 3px 0;
}

.symbol__tab + .symbol__tab{
	border-left: 0;
}

.symbol__box{
	display: flex;
	flex-wrap:wrap;
	margin-top:10px;
}

.symbol__item{
	width:33.33%;
	padding:10px;
	box-sizing: border-box;

}

.symbol__img{
	display:inline-block;
	width:40px;
	height: 40px;
}

.symbol__textBox + .symbol__textBox{
	margin-top:5px
}

.footer {
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}



